
<section id="contact">
    <div class="container text-white">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3>Contact me on</h3>
          <h2>
            <a href="https://www.linkedin.com/in/davidesicignani/" target="_blank"
              >LinkedIn</a
            >
            |
            <a href="https://www.instagram.com/davidesicignani/" target="_blank"
              >Instagram</a
            >
            |
            <a href="blog" target="">Blog</a>
            |
            <a href="mailto:davide@sprintstudio.co">davide@sprintstudio.co</a>
          </h2>
        </div>
      </div>
    </div>
  </section>