<!--<form
  action="https://buttondown.email/api/emails/embed-subscribe/sprintstudio"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/sprintstudio', 'popupwindow')"
  class="form-inline"
>
<legend>Don't miss next blog post</legend>
  <input type="email" class="form-control" name="email" placeholder="Your email..." id="bd-email" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" class="btn btn-primary m-2" value="Subscribe" />
</form>
-->

<h3>Se vuoi puoi seguirmi su:</h3>
<a href="https://twitter.com/00taffe?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @00taffe</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
