{% include header.html %}

<header class="text-white">
  <div class="bg-transparent jumbotron-fluid text-center">
    <h1 class="yo">Yo!</h1>
    <p class="lead">
      I'm Davide,
      <span class="underline"
        >Partner & Head Developer @
        <a href="https://sprintstudio.co" target="_blank"
          >Sprint Studio</a
        ></span
      >
      <br />Living in Milan now <span>🇮🇹</span>
    </p>
  </div>
</header>

<section id="contact">
  <div class="container text-white">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h3>Contact me on</h3>
        <h2>
          <a href="https://www.linkedin.com/in/davidesicignani/" target="_blank"
            >LinkedIn</a
          >
          |
          <a href="https://www.instagram.com/davidesicignani/" target="_blank"
            >Instagram</a
          >
          |
          <a href="blog" target="">Blog</a>
          |
          <a href="mailto:davide@sprintstudio.co">davide@sprintstudio.co</a>
        </h2>
      </div>
    </div>
  </div>
</section>
