<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
    <a href="{{ site.github.url }}/{{ item.path }}/{{ item.url }}"
      >{{ item.name }}</a
    >
    {% endfor %}
  </nav>
  <button
    class="navbar-toggler d-md-none"
    type="button"
    data-toggle="collapse"
    data-target="#socialIcons"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <small>Follow me on</small>
  </button>
  <nav class="social-icons d-none d-md-block">
    {% include social-icons.html %}
  </nav>
  <nav class="collapse navbar-collapse mx-auto social-icons d-md-none" id="socialIcons">
    {% include social-icons.html %}
  </nav>
</div>
