<!--<div class="row">
  <div class="col-md-3"></div>
  <div class="col-sm-12 col-md-6">
    <form
      action="https://sprintstudio.us11.list-manage.com/subscribe/post?u=baa6a96ac00514e2d994c55e2&amp;id=10b14f6753"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      validate
    >
      <legend>If you want read my future post</legend>
      <div class="form-group">
        <input
          type="email"
          name="EMAIL"
          class="form-control required email"
          id="mce-EMAIL"
          placeholder="Write your email here..."
          required=""
        />
	  </div>
	  <!--
      <div class="form-group">
        <input
          type="checkbox"
          class="form-check-input"
          placeholder="Devi dare il consenso"
          value="SI"
          name="MMERGE3"
          required=""
        />
        <label class="control-label"
          >“Ho letto le privacy policy e autorizzo il trattamento dei miei
          dati</label
        >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="Iscriviti" href="">
          Join
        </button>
      </div>
    </form>
  </div>
</div>
-->

<h5>
  Se vuoi puoi seguirmi su:

  <a
    href="https://twitter.com/00taffe?ref_src=twsrc%5Etfw"
    class="twitter-follow-button"
    data-show-count="false"
    >Follow @00taffe</a
  >
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</h5>