$white:    #fff;
$red:     #dc3545;
$grey: rgb(117, 249, 79);
$green: rgb(117, 249, 79);
$black: rgb(39, 39, 39);

$body-bg-dark: rgb(39, 39, 39);
$body-color: $white;

/* custom vars */
$custom-font-size: 20px;
$custom-font-family: 'Josefin Sans', sans-serif;
$default-margin: 1.15rem;