<!doctype html>
<html>

{% include head.html %}

<body>

  <div class="container-fluid">
    <div class="scroll-border">
      {{ content }}
    </div>
  </div>

  <a href="https://www.iubenda.com/privacy-policy/58697744" class="iubenda-white iubenda-embed " title="Privacy Policy">Privacy Policy</a>
  <script type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
  
  <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  
</body>

</html>