---
layout: default
---

{% include header.html %}

<div class="post container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <h1 class="post-title">
        {{ page.title }}
      </h1>
      <span class="post-date text-center"
      >
      <i class="fa fa-clock-o" aria-hidden="true"></i> {% include
      read-time.html %} - <i class="fa fa-calendar" aria-hidden="true"></i> {{ site.data.settings.post_date_prefix }} {% assign d = page.date |
        date: "%-d" %} {{ page.date | date: "%B" }} {% case d %} {% when '1' or
        '21' or '31' %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or
        '23' %}{{ d }}rd {% else %}{{ d }}th{% endcase %}, {{ page.date | date:
        "%Y" }} by {% if page.author %} {{ page.author }} {% else %} {{
        site.author }} {% endif %}</span>

      <!--
      {% if page.image %}
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}" />
      <figcaption>{{ page.image_caption }}</figcaption>
      {% endif %} -->
      
      {{ content }}

      

      {% include social-sharing.html %} 
    
    </div>
  </div> 
</div>

{% include footer.html %}
